/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.jfx-button{
	-fx-padding:10;
	-fx-background-color: #2196F3;
	-fx-font-size:20px;
	-fx-font-style:italic;
}
#makeBook{
		-fx-font-size:12px;
		-fx-padding:5;		
}
#editDetail{
		-fx-font-size:12px;
		-fx-padding:5;		
}
#editTimetable{
		-fx-font-size:12px;
		-fx-padding:5;		
}
#Back{
	-fx-background-color: #4CAF50;
	-fx-font-size:20px;
	-fx-padding:5;	
	-fx-pref-width:77;	
}
.layout{
		-fx-font-style:italic;
		-fx-font-size:12px;
	
}
#MakeBooking{
	-fx-padding:10;
	-fx-background-color: #2196F3;
	-fx-font-size:20px;
	-fx-font-style:italic;
}
#backButton{
	-fx-background-color: #4CAF50;
	-fx-font-size:20px;
	-fx-padding:5;		
	-fx-pref-width:77;	
	
}

#cusBackButton{
	-fx-background-color: #4CAF50;
	-fx-font-size:20px;
	-fx-padding:5;	
	-fx-pref-width:77;	
		
}
#logout{
		-fx-background-color: red;		
}


#register{
	-fx-background-color: #4CAF50;		
}
#closeButton{
	-fx-background-color: #4CAF50;		
}
#Register{
	-fx-background-color: #4CAF50;		
}


